<template name="header">

	<header>
		<div class="container">
			<h1>
				<a href="{{pathFor 'home'}}">CDuran-Microscope</a>
			</h1>
			<div class="pure-g">
				<div class="pure-u-6-24">
					{{> loginButtons}}
				</div>
				<div class="pure-u-6-24">
					<a class="sort {{activeRouteClass 'home' 'newPosts'}}" href="{{pathFor 'newPosts'}}">New posts</a>
					<a class="sort {{activeRouteClass 'bestPosts'}}" href="{{pathFor 'bestPosts'}}">Best posts</a>
				</div>
				<div class="pure-u-4-24">
					{{#if currentUser}}
						<a href="{{pathFor 'postSubmit'}}" class="pure-button pure-button-active pure-button-primary">Add a post</a>
					{{/if}}
				</div>
				<div class="pure-u-8-24">
					{{#if currentUser}}
						{{> notifications}}
					{{/if}}
				</div>
			</div>
		</div>
	</header>

</template>