html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: "Tahoma", sans-serif;
	letter-spacing: 2px;
}
body {
	background: #f9f9f9;
	color: #666;
	font-size: 15px;
}
a {
	color: #73A2BD;
	display: inline-block;
	text-decoration: none;
}
header {
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
	text-align: center;
}
header h1 {
	margin: 0;
	text-align: left;
}
header h1 a {
	color: #666;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
header h1 a:hover {
	letter-spacing: 5px;
}
header .pure-button {
	margin-top: 2px;
}
#login-buttons {
	margin-top: 10px;
}
#login-buttons .login-link-text {
	text-decoration: none;
}
.alert {
	background: rgb(223, 117, 20);
	border: 1px solid rgb(202, 60, 60);
	border-radius: 2px;
	margin-bottom: 15px;
}
.alert h2, .alert p {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success, .button-error, .button-warning, .button-secondary {
	color: white;
	border-radius: 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
	background: rgb(28, 184, 65);
}
.button-error {
	background: rgb(202, 60, 60);
}
.button-warning {
	background: rgb(223, 117, 20);
}
.button-secondary {
	background: rgb(66, 184, 221);
}
.container {
	margin: 0 auto;
	width: 1024px;
}
.panel {
	margin: 50px 0;
}
.post {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .05);
	padding: 5px 15px 15px;
}
.post .post-header a.external-link {
	color: #666;
}
.post .post-header h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.posts-list .post {
	margin: 0 10px 10px 0;
}
.underline {
	text-decoration: underline;
}