body, .pure-g [class *="pure-u"] {
	font-family: "Tahoma", sans-serif;
	letter-spacing: 2px;
}
body {
	background: #f9f9f9;
	color: #666;
	font-size: 15px;
}
a {
	color: #73A2BD;
	display: inline-block;
	text-decoration: none;
}
header {
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
	text-align: center;
}
header h1 {
	margin: 0;
}
header h1 a {
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
header h1 a:hover {
	letter-spacing: 5px;
}
.container {
	margin: 0 auto;
	width: 1024px;
}
.content {
	margin: 50px 0 0;
}
.content .post {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .05);
	margin: 0 10px;
	padding: 10px;
}
.content .post .post-header a.external-link {
	color: #666;
}
.content .post .post-header h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	text-align: center;
}
.postsList .post {
	margin-bottom: 10px;
}