<template name="postItem">

	<div class="post">
		<div class="post-header">
			<h3 class="to-center">
				<a href="{{pathFor 'postPage'}}">{{title}}</a>
			</h3>
			<p>
				<a href="{{url}}" target="_blank" class="external-link">
					<i class="fa fa-globe"></i>
					<span class="underline">{{domain}}</span>					
				</a>
			</p>
			<p>
				<i class="fa fa-male"></i>
				<span>Submitted by</span>
				<strong>{{author}}</strong>
			</p>
			<p>
				<i class="fa fa-list-ol"></i>
				<span>Comments count:</span>
				<strong>{{commentsCount}}</strong>
			</p>
			{{#if ownPost}}
				<a href="{{pathFor 'postEdit'}}" class="pure-button pure-button-active button-secondary">Edit</a>
			{{/if}}
		</div>
	</div>

</template>