<template name="postSubmit">

	<h2>Add a post</h2>
	<form class="pure-form">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<fieldset class="pure-group">
					<input type="text" class="pure-input-1 {{errorClass 'title'}}" placeholder="Title" name="title">
					<input type="text" class="pure-input-1 {{errorClass 'url'}}" placeholder="URL" name="url">
				</fieldset>
				<button type="submit" class="pure-button pure-input-1 pure-button-active button-success">Save</button>
			</div>
			<div class="pure-u-1-2">
				<div class="validations">
					<p>{{errorMessage 'title'}}</p>
					<p>{{errorMessage 'url'}}</p>
				</div>
			</div>
		</div>
	</form>

</template>